@mixin d_div{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@mixin d-left {
  width: calc(75% - 20px);
}

@mixin d-right {
  width: 25%;
}

$my-color:#4ba4ff;
$my-color2: #555;
$my-background: rgba(255, 255, 255, 0.5);